:root {
  --day-size-w: 160px;
  --day-size-h: 240px;
}

.calendar__wrapper {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.calendar__days-names {
	display: flex;
	justify-content: space-between;
}

.calendar__days-name_day {
	padding: 5px;
	background-color: #fff;
	width: var(--day-size-w);
	text-align: center;
}

.calendar__dates {
	display: flex;
	gap: 20px 0;
	justify-content: space-between;
	flex-wrap: wrap;
}

.calendar__dates_cell {
	width: var(--day-size-w);
	min-height: var(--day-size-h);
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	transition: .3s;
	border-radius: 5px;
}

.calendar__dates_cell:hover {
	cursor: pointer;
	background-color: #e9e9e9b2;
}

.calendar__dates_cell_empty {
	background-color: transparent;
}

.calendar__dates_cell_empty:hover {
	cursor: default;
	background-color: transparent;
}

.calendar__dates_cell__info {
	text-align: center;
	padding: 3px 0;
}

.save-btn__wrapper {
	display: flex;
	justify-content: center;
}